qdrant.json
{
  "name": "qdrant",
  "nodes": [
    {
      "parameters": {
        "options": {
          "allowFileUploads": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -80,
        0
      ],
      "id": "d15a1054-f577-4e54-b707-0996a2b467ee",
      "name": "When chat message received",
      "webhookId": "aec3f456-8027-44e6-b050-e0a0b803ddea"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "={{ $json.sessionId }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        140,
        0
      ],
      "id": "738f34f2-58ee-47bb-b24b-4e031c58dffa",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "piE7d4wc607OfhKF",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        60,
        220
      ],
      "id": "f8f89f02-3656-4411-b7e8-450f4a70c071",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "rQqrUm4JYIHWEqNx",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        260,
        220
      ],
      "id": "37087430-d74b-4711-b9ac-2f133f941396",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 50,
        "chunkOverlap": 5
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        340,
        440
      ],
      "id": "94b39ddc-4cbe-4edf-9f60-ec63dc4e2ae5",
      "name": "Token Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        500,
        0
      ],
      "id": "ccc772a5-065a-427f-bf49-be52f6ccb189",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        520,
        220
      ],
      "id": "d705fe47-0555-4451-ba9f-f0972dd9d23a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "rQqrUm4JYIHWEqNx",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        620,
        220
      ],
      "id": "6a95322d-38c2-4d84-bc92-ab41fd8cd4e4",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "you are an expert in government news",
        "qdrantCollection": {
          "__rl": true,
          "mode": "id",
          "value": ""
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        660,
        360
      ],
      "id": "2c44d73e-4b15-46d3-b996-a3126b25a70e",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "piE7d4wc607OfhKF",
          "name": "QdrantApi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "41e0192b-7521-4630-9b8b-3f8143028330",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3e9206ee2cba30f211c27114fb1b75664392fd95d11884b811d36817e3c1bccd"
  },
  "id": "CKR009rVHhRgxnOM",
  "tags": []
}