Telegram ai chatbot.json
{
  "name": "Telegram ai chatbot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        360,
        -360
      ],
      "id": "9b13318c-bf57-4658-a50d-8ae09adc61c0",
      "name": "Telegram Trigger",
      "webhookId": "441ee1fd-310d-49eb-855c-67cadd31124a",
      "credentials": {
        "telegramApi": {
          "id": "P3FOxTRC1IvsWXLq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        580,
        -360
      ],
      "id": "c53fc239-0759-49ab-8396-94153cadbb9a",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": "mistralai/mistral-small-3.1-24b-instruct:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        520,
        -200
      ],
      "id": "fc625ada-7799-422b-8351-2cdfe70d5c79",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "Ov1IPDxvuo1FMfBQ",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        880,
        -180
      ],
      "id": "ca44df2f-01d2-485f-bb7c-3181feb0a12c",
      "name": "Send a message in Gmail1",
      "webhookId": "0b979545-78e8-492a-bfb7-7aa8bdef7223",
      "credentials": {
        "gmailOAuth2": {
          "id": "UstqKvVSljDqvm3u",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        660,
        -160
      ],
      "id": "69d3c883-6a1d-4d4a-9b76-851d6ac230ec",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        940,
        -360
      ],
      "id": "14abde3c-870c-4403-92e5-5d2e170dc7cb",
      "name": "Send a text message",
      "webhookId": "b5c25998-33aa-4834-86d5-26c1958c0256",
      "credentials": {
        "telegramApi": {
          "id": "P3FOxTRC1IvsWXLq",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ccbb6915-5acd-4c5d-b7ec-be58dce2d154",
  "meta": {
    "templateId": "self-building-ai-agent",
    "templateCredsSetupCompleted": true,
    "instanceId": "3e9206ee2cba30f211c27114fb1b75664392fd95d11884b811d36817e3c1bccd"
  },
  "id": "qAIAO3nh7PdFzZLe",
  "tags": []
}